{
    "presets": ["env", "react"],
    "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties", ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "styles": "./src/styles",
                "assets": "./src/assets"
            }
        }]
    ],

    "env": {
        "test": {
            "plugins": [
                "transform-runtime",
                "transform-decorators-legacy",
                "transform-class-properties"
            ]
        }
    }
}