$white: #ffffff !default;
$black: #000000 !default;
$gray: #e6e7eb !default;
$light_gray: #f8f8f8 !default;
$dark_blue: #004784 !default;
$border_color: #b1b3b4 !default;
$darkest-gray: #2C2C2C;
$orange: #CF6421 !default;


$red: #dc3545;
$dark-red: #c82333;
$green-btn:#28a745;
$yellow: #ffc107;
$border-color: rgba(0, 0, 0, 0.1);
$dark-yellow: #e0a800;
$blue: #007bff !default;
$text-hover: #0056b3;
$text-color: #696969;
$light_gray:#f8f9fa;
$dark_gray: #2e3d49 !default;
$green: #00bfa5;
$light_green: #cedc39;